{% extends "base.html" %} {% block title %}Stored Xss{% endblock %}
{% block style %}  <link rel="stylesheet" href="{{ url_for('static', filename='css/stored-xss.css') }}"> {% endblock %}
{% block content %}
<div class="container text-center my-5">
    <h1> Stone - Stored Stimulate </h1>
</div>
<div class="container">
    <div class="row">
        {% for product in products %} 
        <div class="col-md-3">
            <div class="card product-card mb-4">
                <img src="../static/img/{{product.picture}}" class="card-img-top" alt="The Bucket of Doom">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <div class="product-rating">
                        {% for i in range(1, 6) %}
                            {% if i <= product.rating|floor %}
                                <i class="bi bi-star-fill"></i>
                            {% elif i == product.rating|ceil and product.rating % 1 != 0 %}
                                <i class="bi bi-star-half"></i>
                            {% else %}
                                <i class="bi bi-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="product-price">{{product.price}}$</p>
                    <a href="{{ url_for('stored_xss.product_requested', productId=product.id) }}" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
        {% endfor%}
{% endblock %}
